.card {
    width: 150px;
    margin: 15px;
    text-transform: capitalize;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, .3);
}

@media all and (min-width: 768px) {
    .card {
        width: 200px;
    }
}

.wrapper__image {
    height: 120px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    position: relative;
}

.card__image {
    object-fit: contain;
}

.card__id {
    text-align: left;
    background-color: #b3a125;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding: 4px 8px;
    color: #fff;
    font-weight: 600;
}

.wrapper__name {
    background-color: #fff;
    /* padding: 10px; */
}

.card__name {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.card__types {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    text-align: center;
}

.type-pokemon {
    background-color: lightgrey;
    padding: 6px;
    text-transform: uppercase;
    flex: 1 1 auto;
    font-weight: 500;
}

.bug {
    background-color: #4b9a51;
    color: #fff;
}
.dark {
    background-color: #2e2d41;
    color: #fff;
}
.dragon {
    background-color: #60cad9;
}
.electric {
    background-color: #f9f373;
}
.fairy {
    background-color: #eb4d68;
}
.fighting {
    background-color: #ed6038;
}
.fire {
    background-color: #ec4a56;
}
.flying {
    background-color: #92b2c7;
}
.ghost {
    background-color: #906790;
}
.grass {
    background-color: #67cd52;
}
.ground {
    background-color: #6d491f;
    color: #fff;
}
.ice {
    background-color: #d8f0fa;
}
.normal {
    background-color: #CA98A7;
}
.poison {
    background-color: #9a69d9;
    color: #fff;
}
.psychic {
    background-color: #EB548F;
}
.rock {
    background-color: #8B3E21;
    color: #fff;
}
.steel {
    background-color: #5ABE94;
}
.water {
    background-color: #85A8FC;
}
