.pokeball-loading {
    width: 80px;
    height: 80px;
    background-image: url('../../images/pokeball.svg');
    background-repeat: no-repeat;
    margin-top: 60px;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);

    }
}