*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #111;
  background-color: #ffde00;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
