// COLORS
$snowWhite: #fff;
$electricYellow: #f9f373;
$yellowGold: #b3a125;
$greenGrass: #67cd52;
$greenBug:  #4b9a51;
$blueMidnight: #2e2d41;
$blueDragon: #60cad9;
$blueButterfly: #92b2c7;
$babyBlue: #d8f0fa;
$pinkFairy: #eb4d68;
$pinkSalmon: #ed6038;
$pinkParty: #ec4a56;
$hotPink: #EB548F;
$neutralPink: #CA98A7;
$purpleGhost: #906790;
$purpleCandy: #9a69d9;
$brownTree: #6d491f;
$brownGingerbread: #8B3E21;